{% extends 'base.html' %}


{% block content %}

    <div class="main_index">

        <form action="/upload" method="POST" enctype="multipart/form-data" class="main_form">

            <div class="mb-3">
                <label for="formFile" class="form-label">Загрузить файлы</label>
                <input class="form-control" type="file" id="formFile" name="file" multiple>
            </div>

            <input type="submit" value="Загрузить" class="btn btn-primary">
        </form>

    </div>

{% endblock %}