<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Site</title>

    <style>
        input {
            width: 215px;
        }
        .input_container {
            width: fit-content;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    {% for data in photos_links %}
    <div style="display: flex; justify-content: space-around; align-items: center; padding: 10px 0;">
        <img src="{{ data.0 }}" width="300" alt="">
        <div class="input_container">
            <input type="text" readonly value="{{ data.1 }}" style="border: 0;">
        </div>
    </div>
    {% endfor %}
    <div class="input_container">
        <input type="text" readonly value="{{ telegraph_link_text }}" style="border: 0;">
    </div>
</body>
</html>